

/* style calendar header */
.fc-toolbar.fc-header-toolbar {
    margin-bottom: 2em;
    background-color: #e9ecef;
    border-radius: 5px;
}

/* calendar background color */
div.fc-view-container {
    background-color: white;
}

a.fc-day-number {
   font-size: large;
}

td.fc-day {
    cursor: pointer;
}


